//
  Copyright (C) Fabian Cook - All Rights Reserved
  Unauthorized copying of this file, via any medium is strictly prohibited
  Proprietary and confidential
  Written by Fabian Cook <fabian.cook@shipper.co.nz>, 6/11/14
div(layout="horizontal" id="general")
  div.column(flex layout="vertical")
    md-switch(ng-model="dimensions.imperial" aria-label="Unit measure")
      | {{dimensions.imperial?'Imperial':'Metric'}}
    md-text-float(
      label="Length ({{dimensions.imperial?'Inches':'Centimeters'}})"
      ng-model='dimensions.length'
      ng-change='calculateVolume()'
    )
    md-text-float(
      label="Width ({{dimensions.imperial?'Inches':'Centimeters'}})"
      ng-model='dimensions.width'
      ng-change='calculateVolume()'
    )
    md-text-float(
      label="Height ({{dimensions.imperial?'Inches':'Centimeters'}})"
      ng-model='dimensions.height'
      ng-change='calculateVolume()'
    )
  div.column(flex layout='vertical')
    md-text-float(
      label="Weight ({{dimensions.imperial?'Pounds':'Kilograms'}})"
      ng-model='dimensions.weight'
      ng-change='calculateVolume()'
    )
  div.column(flex layout='vertical')
    md-text-float(
      disabled
      label="Volume ({{dimensions.imperial?'Cubic Feet':'Cubic meters'}})"
      ng-model='dimensions.volume'
    )